.angle-down-title {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
}

.angle-down {
  position: absolute;
  display: flex;
  bottom: 0;
  justify-content: center;
  width: 100%;
  transform: rotate(180deg);
  margin-bottom: 10px;
}

.angle-right {
  transform: rotate(90deg);
  margin-left: 10px;
}

.angle-left {
  transform: rotate(-90deg);
  margin-right: 10px;
}

@media only screen and (max-width: 475px) {
  .angle-down {
    bottom: 2vh;
  }
}
