.angle-down-title {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
}

.angle-down.dark {
  color: var(--faded-black);
}

.angle-down {
  position: absolute;
  display: flex;
  bottom: 0;
  opacity: 0;
  justify-content: center;
  width: auto;
  left: 50%;
  transform: rotate(180deg);
  margin-bottom: 10px;
  z-index: 9999;
  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: rotate(180deg) translateX(50%) translateY(0);
  }
  10% {
    transform: rotate(180deg) translateX(50%) translateY(0);
  }
  30% {
    transform: rotate(180deg) translateX(50%) translateY(20px);
  }
  50% {
    transform: rotate(180deg) translateX(50%) translateY(0);
  }
  57% {
    transform: rotate(180deg) translateX(50%) translateY(2px);
  }
  64% {
    transform: rotate(180deg) translateX(50%) translateY(0);
  }
  100% {
    transform: rotate(180deg) translateX(50%) translateY(0);
  }
}

.angle-right {
  transform: rotate(90deg);
  margin-left: 10px;
}

.angle-left {
  transform: rotate(-90deg);
  margin-right: 10px;
}

@media only screen and (max-width: 475px) {
  .angle-down {
    bottom: 2vh;
  }
}
