.form-container {
  position: relative;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  padding-top: 10vw;

  .form {
    width: 100%;

    .form-inner.form-inner-selects {
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;

      .form__group {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        flex: 0 0 33%;
        max-width: 33%;
        padding: 1rem;
        z-index: 2;
        transition: all 0.4s ease-in-out;
      }
    }

    .form-inner {
      width: 100%;
      display: flex;
      flex-flow: row wrap;

      .form__group__header {
        text-align: center;
        width: 100%;
      }

      .error-message {
        color: red;
        padding-top: 4rem;
      }

      textarea {
        resize: none;
        font-family: inherit;
      }

      .form__group.large {
        flex: 0 0 100%;
      }

      .form__group {
        position: relative;
        display: flex;
        flex: 0 0 80%;
        max-width: 80%;
        padding: 1rem;
        padding-bottom: 2rem;
        z-index: 2;
        transition: all 0.4s ease-in-out;
        margin: 0 auto;
        justify-content: space-around;
      }

      .form__field-select {
        transition: all 0.4s ease-in-out;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
      }

      .form__group.done .form__field,
      .form__group.done label,
      .form__field-select.done,
      .form__field-select.done label {
        opacity: 0.2;
      }

      .form__field {
        width: 100%;
        border: 0;
        border-bottom: 1px solid var(--faded-black);
        outline: 0;
        font-size: var(--fs-small);
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
        color: var(--faded-black);

        &::placeholder {
          color: transparent;
        }

        &:placeholder-shown ~ .form__label {
          font-size: var(--fs-small);
          cursor: text;
          top: 20px;
        }
      }

      .form__label {
        position: absolute;
        top: -1rem;
        display: inline-block;
        transition: 0.2s;
        font-size: var(--fs-small);
        color: var(--faded-black);
        letter-spacing: var(--medium-spacing);
      }

      .form__field:focus {
        ~ .form__label {
          top: -0.8rem;
          font-size: var(--fs-small);
          padding: 0 0.3em;
          color: rgba(0, 0, 0, 0.5);
          opacity: 1 !important;
        }
        padding-bottom: 6px;
        border-width: 3px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        opacity: 1 !important;
      }

      .acceptance {
        opacity: 0.2;
        padding-bottom: 50px;

        .form__label-select.acceptance-terms {
          font-size: 12px;
        }
      }

      .ready.acceptance {
        opacity: 1;
      }

      .form-btn {
        z-index: 2;
        color: var(--faded-black);
        background: transparent;
        border: none;
        position: relative;
        border: 1px solid var(--faded-black);
        padding: 1rem;
        margin: 0 auto 20vw auto;

        &:hover {
          border: 1px solid var(--grey);
          color: var(--grey);
          cursor: pointer;
          transition: 0.3s ease-in-out;
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2),
            0 6px 5px 0 rgba(0, 0, 0, 0.075);
        }
        &:active {
          transform: translateY(0.1rem);
          transition: transform 0.1s ease-in-out;
          outline: 0;
          border: 2px solid var(--grey);
        }
      }
    }
  }
}
