.book-studio-section {
  color: var(--faded-black);

  .book-studio-section-header {
    font-size: var(--h3);
    text-align: center;
    padding-bottom: 100px;
  }

  .book-studio-content-container {
    background: var(--off-white);
    min-height: 100vh;

    picture img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}
