.book-studio-section {
  color: var(--faded-black);
  background: var(--off-white);
  min-height: 100vh;

  .book-studio-section-header {
    font-size: var(--h2);
    text-align: center;
    padding-bottom: calc(20px + (40 - 20) var(--calc-size));
  }

  .book-studio-content-container {
    picture img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .studio-single-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    writing-mode: vertical-lr;
    padding: calc(8px + (12 - 8) var(--calc-size))
      calc(8px + (12 - 8) var(--calc-size));
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: var(--off-white);
    height: 30%;
    font-size: var(--fs-xs);

    .studio-single-socials-icons {
      a {
        padding: calc(10px + (12 - 10) var(--calc-size));
      }
    }
  }
}
