/* Send Animation */
.envelope-is-sent {
  -webkit-animation: launch 1.5s ease-in-out;
  -moz-animation: launch 1.5s ease-in-out;
  -o-animation: launch 1.5s ease-in-out;
  animation: launch 1.5s ease-in-out;
}

@-webkit-keyframes launch {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }
  10%,
  15% {
    -webkit-transform: translateX(0) scale(0.5);
    transform: translateX(0) scale(0.5);
  }
  30%,
  35% {
    -webkit-transform: translateX(-20) scale(0.5);
    transform: translateX(-20) scale(0.5);
  }
  40%,
  70% {
    -webkit-transform: translateX(100vw) scale(0.5);
    transform: translateX(100vw) scale(0.5);
  }
  70% {
    opacity: 1;
  }
  71% {
    opacity: 0;
    -webkit-transform: translateX(100vw) scale(0.5);
    transform: translateX(100vw) scale(0.5);
  }
  72% {
    opacity: 0;
    -webkit-transform: translateX(0px) scale(0.5);
    transform: translateX(0px) scale(0.5);
  }
  80% {
    opacity: 0.5;
    -webkit-transform: translateX(0px) scale(0.8);
    transform: translateX(0px) scale(0.8);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) scale(1);
    transform: translateX(0px) scale(1);
  }
}

@-moz-keyframes launch {
  0% {
    opacity: 1;
    -moz-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }
  10%,
  15% {
    -moz-transform: translateX(0) scale(0.5);
    transform: translateX(0) scale(0.5);
  }
  30%,
  35% {
    -moz-transform: translateX(-20) scale(0.5);
    transform: translateX(-20) scale(0.5);
  }
  40%,
  70% {
    -moz-transform: translateX(100vw) scale(0.5);
    transform: translateX(100vw) scale(0.5);
  }
  70% {
    opacity: 1;
  }
  71% {
    opacity: 0;
    -moz-transform: translateX(100vw) scale(0.5);
    transform: translateX(100vw) scale(0.5);
  }
  72% {
    opacity: 0;
    -moz-transform: translateX(0px) scale(0.5);
    transform: translateX(0px) scale(0.5);
  }
  80% {
    opacity: 0.5;
    -moz-transform: translateX(0px) scale(0.8);
    transform: translateX(0px) scale(0.8);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0px) scale(1);
    transform: translateX(0px) scale(1);
  }
}

@-o-keyframes launch {
  0% {
    opacity: 1;
    -o-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }
  10%,
  15% {
    -o-transform: translateX(0) scale(0.5);
    transform: translateX(0) scale(0.5);
  }
  30%,
  35% {
    -o-transform: translateX(-20) scale(0.5);
    transform: translateX(-20) scale(0.5);
  }
  40%,
  70% {
    -o-transform: translateX(100vw) scale(0.5);
    transform: translateX(100vw) scale(0.5);
  }
  70% {
    opacity: 1;
  }
  71% {
    opacity: 0;
    -o-transform: translateX(100vw) scale(0.5);
    transform: translateX(100vw) scale(0.5);
  }
  72% {
    opacity: 0;
    -o-transform: translateX(0px) scale(0.5);
    transform: translateX(0px) scale(0.5);
  }
  80% {
    opacity: 0.5;
    -o-transform: translateX(0px) scale(0.8);
    transform: translateX(0px) scale(0.8);
  }

  100% {
    opacity: 1;
    -o-transform: translateX(0px) scale(1);
    transform: translateX(0px) scale(1);
  }
}

@keyframes launch {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
    -moz-transform: translateX(0) scale(1);
    -o-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }
  10%,
  15% {
    -webkit-transform: translateX(0) scale(0.5);
    -moz-transform: translateX(0) scale(0.5);
    -o-transform: translateX(0) scale(0.5);
    transform: translateX(0) scale(0.5);
  }
  30%,
  35% {
    -webkit-transform: translateX(-20) scale(0.5);
    -moz-transform: translateX(-20) scale(0.5);
    -o-transform: translateX(-20) scale(0.5);
    transform: translateX(-20) scale(0.5);
  }
  40%,
  70% {
    -webkit-transform: translateX(100vw) scale(0.5);
    -moz-transform: translateX(100vw) scale(0.5);
    -o-transform: translateX(100vw) scale(0.5);
    transform: translateX(100vw) scale(0.5);
  }
  70% {
    opacity: 1;
  }
  71% {
    opacity: 0;
    -webkit-transform: translateX(100vw) scale(0.5);
    -moz-transform: translateX(100vw) scale(0.5);
    -o-transform: translateX(100vw) scale(0.5);
    transform: translateX(100vw) scale(0.5);
  }
  72% {
    opacity: 0;
    -webkit-transform: translateX(0px) scale(0.5);
    -moz-transform: translateX(0px) scale(0.5);
    -o-transform: translateX(0px) scale(0.5);
    transform: translateX(0px) scale(0.5);
  }
  80% {
    opacity: 0.5;
    -webkit-transform: translateX(0px) scale(0.8);
    -moz-transform: translateX(0px) scale(0.8);
    -o-transform: translateX(0px) scale(0.8);
    transform: translateX(0px) scale(0.8);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) scale(1);
    -moz-transform: translateX(0px) scale(1);
    -o-transform: translateX(0px) scale(1);
    transform: translateX(0px) scale(1);
  }
}
/* End of Send Animation */

#envelope {
  position: relative;
  width: 140px;
  height: 90px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
  top: 0;
  margin-top: 9vh;
  background-color: var(--faded-black-dark);
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
.envelope-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: -webkit-calc(40px + (50 - 40) var(--calc-size)) 0;
  padding: -moz-calc(40px + (50 - 40) var(--calc-size)) 0;
  padding: calc(40px + (50 - 40) var(--calc-size)) 0;
}

.envelope-front {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 3;
}

.envelope-front-flap {
  border-left: -webkit-calc(140px / 2) solid transparent;
  border-left: -moz-calc(140px / 2) solid transparent;
  border-left: calc(140px / 2) solid transparent;
  border-right: -webkit-calc(140px / 2) solid transparent;
  border-right: -moz-calc(140px / 2) solid transparent;
  border-right: calc(140px / 2) solid transparent;
  border-bottom: -webkit-calc(-webkit-calc(90px / 2) - 4px) solid transparent;
  border-bottom: -moz-calc(-moz-calc(90px / 2) - 4px) solid transparent;
  border-bottom: calc(calc(90px / 2) - 4px) solid transparent;
  border-top: -webkit-calc(-webkit-calc(90px / 2) + 4px) solid var(--faded-black);
  border-top: -moz-calc(-moz-calc(90px / 2) + 4px) solid var(--faded-black);
  border-top: calc(calc(90px / 2) + 4px) solid var(--faded-black);
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  pointer-events: none;
}

.envelope-front-pocket {
  border-left: -webkit-calc(140px / 2) solid var(--faded-black-70);
  border-left: -moz-calc(140px / 2) solid var(--faded-black-70);
  border-left: calc(140px / 2) solid var(--faded-black-70);
  border-right: -webkit-calc(140px / 2) solid var(--faded-black-70);
  border-right: -moz-calc(140px / 2) solid var(--faded-black-70);
  border-right: calc(140px / 2) solid var(--faded-black-70);
  border-bottom: -webkit-calc(90px / 2) solid var(--faded-black);
  border-bottom: -moz-calc(90px / 2) solid var(--faded-black);
  border-bottom: calc(90px / 2) solid var(--faded-black);
  border-top: -webkit-calc(90px / 2) solid transparent;
  border-top: -moz-calc(90px / 2) solid transparent;
  border-top: calc(90px / 2) solid transparent;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
}

.envelope-letter {
  position: relative;
  background-color: var(--off-white);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
  top: 5%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
}

.envelope-letter:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(25%, rgba(255, 255, 255, 0)),
    color-stop(55%, rgba(215, 227, 239, 0.7)),
    to(rgba(215, 227, 239, 1))
  );
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 25%, rgba(215, 227, 239, 0.7) 55%, rgba(215, 227, 239, 1) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 25%, rgba(215, 227, 239, 0.7) 55%, rgba(215, 227, 239, 1) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 25%, rgba(215, 227, 239, 0.7) 55%, rgba(215, 227, 239, 1) 100%);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 25%, rgba(215, 227, 239, 0.7) 55%, rgba(215, 227, 239, 1) 100%);
}

.envelope-letter-words {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 14%;
  background-color: #eeeff0;
}

.envelope-letter-words.envelope-letter-words-line1 {
  top: 15%;
  width: 20%;
  height: 7%;
}

.envelope-letter-words.envelope-letter-words-line2 {
  top: 30%;
}

.envelope-letter-words.envelope-letter-words-line3 {
  top: 50%;
}

.envelope-letter-words.envelope-letter-words-line4 {
  top: 70%;
}

.envelope-open .envelope-front-flap {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-transition: z-index 0.6s, -webkit-transform 0.4s ease;
  transition: z-index 0.6s, -webkit-transform 0.4s ease;
  -o-transition: z-index 0.6s, -o-transform 0.4s ease;
  -moz-transition: transform 0.4s ease, z-index 0.6s, -moz-transform 0.4s ease;
  transition: transform 0.4s ease, z-index 0.6s;
  transition: transform 0.4s ease, z-index 0.6s, -webkit-transform 0.4s ease, -moz-transform 0.4s ease, -o-transform 0.4s ease;
  z-index: 1;
}

.envelope-close .envelope-front-flap {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transition: z-index 1s, -webkit-transform 0.4s 0.6s ease;
  transition: z-index 1s, -webkit-transform 0.4s 0.6s ease;
  -o-transition: z-index 1s, -o-transform 0.4s 0.6s ease;
  -moz-transition: transform 0.4s 0.6s ease, z-index 1s, -moz-transform 0.4s 0.6s ease;
  transition: transform 0.4s 0.6s ease, z-index 1s;
  transition: transform 0.4s 0.6s ease, z-index 1s, -webkit-transform 0.4s 0.6s ease, -moz-transform 0.4s 0.6s ease, -o-transform 0.4s 0.6s ease;
  z-index: 5;
}

.envelope-close .envelope-letter {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: z-index 1s, -webkit-transform 0.4s ease;
  transition: z-index 1s, -webkit-transform 0.4s ease;
  -o-transition: z-index 1s, -o-transform 0.4s ease;
  -moz-transition: transform 0.4s ease, z-index 1s, -moz-transform 0.4s ease;
  transition: transform 0.4s ease, z-index 1s;
  transition: transform 0.4s ease, z-index 1s, -webkit-transform 0.4s ease, -moz-transform 0.4s ease, -o-transform 0.4s ease;
  z-index: 1;
}

.envelope-open .envelope-letter {
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition: z-index 0.6s, -webkit-transform 0.4s 0.6s ease;
  transition: z-index 0.6s, -webkit-transform 0.4s 0.6s ease;
  -o-transition: z-index 0.6s, -o-transform 0.4s 0.6s ease;
  -moz-transition: transform 0.4s 0.6s ease, z-index 0.6s, -moz-transform 0.4s 0.6s ease;
  transition: transform 0.4s 0.6s ease, z-index 0.6s;
  transition: transform 0.4s 0.6s ease, z-index 0.6s, -webkit-transform 0.4s 0.6s ease, -moz-transform 0.4s 0.6s ease, -o-transform 0.4s 0.6s ease;
  z-index: 2;
}
