.dots-container {
  position: fixed;
  right: 0;
  bottom: 0;
  color: white;
  padding: 20px;
  z-index: 999;
  cursor: pointer;

  & ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    li {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;

      & a {
        text-decoration: none;
        color: white;
      }

      & span {
        opacity: 0;
        transition: all 0.5s ease-in-out;
        font-size: 12px;
        letter-spacing: var(--medium-spacing);
        font-family: var(--alt-font);
        text-transform: uppercase;
      }

      &:hover span {
        opacity: 1;
      }

      .dot-container {
        display: flex;
        align-items: center;

        .dot-active {
          transform: scale(1.2);
          transition: all 0.2s ease-in-out;
          opacity: 0.3;
        }
      }
    }
  }
}

@media only screen and (max-width: 475px) {
  .dots-container {
    top: 2vh;
    bottom: auto;
  }
}
