@use './angles';
@use './navbarCurtain';

.primary-nav-container {
  position: fixed;
  z-index: 999;
  width: 100vw;

  .primary-nav {
    & ul {
      list-style-type: none;

      .navbar-item {
        position: absolute;
        opacity: 0;
        top: 50vh;
        padding: 0 2%;
        z-index: 999;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background: rgba(255, 255, 255, 0.05);
        -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);

        &:hover {
          background: rgba(0, 0, 0, 0.2);
        }
      }

      .navbar-left-item {
        left: 0;
      }

      .navbar-right-item {
        right: 0;
      }

      li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        padding: 10px;
      }
    }
  }
}

.primary-nav-container.light {
  a {
    color: var(--off-white);
    letter-spacing: var(--medium-spacing);
    text-transform: uppercase;
    font-family: var(--heading-font);
    -webkit-transition: var(--std-trans);
    -o-transition: var(--std-trans);
    -moz-transition: var(--std-trans);
    transition: var(--std-trans);
    font-size: -webkit-calc(12px + (14 - 12) var(--calc-size));
    font-size: -moz-calc(12px + (14 - 12) var(--calc-size));
    font-size: calc(12px + (14 - 12) var(--calc-size));
    letter-spacing: 1.4px;
  }
  .angle {
    color: var(--off-white);
    font-size: 1em;
  }
}

.primary-nav-container.dark {
  a {
    color: var(--faded-black);
    letter-spacing: var(--medium-spacing);
    text-transform: uppercase;
    font-family: var(--heading-font);
    -webkit-transition: var(--std-trans);
    -o-transition: var(--std-trans);
    -moz-transition: var(--std-trans);
    transition: var(--std-trans);
    font-size: -webkit-calc(12px + (14 - 12) var(--calc-size));
    font-size: -moz-calc(12px + (14 - 12) var(--calc-size));
    font-size: calc(12px + (14 - 12) var(--calc-size));

    .angle {
      color: var(--faded-black);
      font-size: 1em;
    }
  }
}

@media only screen and (max-width: 980px) {
  .primary-nav-container .primary-nav ul .navbar-item {
    top: 94vh;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {
  .primary-nav-container .primary-nav ul .navbar-item {
    top: 87vh;
    padding: 0 40px;
  }
}

@media only screen and (max-width: 475px) {
  .primary-nav-container .primary-nav ul .navbar-item {
    top: 94.6vh;
    padding: 0 15px;
  }
}
