.dots-container {
  position: fixed;
  right: 0;
  bottom: 0;
  color: var(--off-white);
  padding: 20px;
  z-index: 999;
  cursor: pointer;

  & ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    li {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: calc(14px + (16 - 14) var(--calc-size));

      & a {
        text-decoration: none;
        color: var(--off-white);
      }

      & span {
        opacity: 0;
        transition: all 0.5s ease-in-out;
        font-size: calc(8px + (10 - 8) var(--calc-size));
        letter-spacing: var(--medium-spacing);
        font-family: var(--alt-font);
        text-transform: uppercase;
      }

      &:hover span {
        opacity: 1;
      }

      .dot-container {
        display: flex;
        align-items: center;

        .dot-active {
          transform: scale(0.9);
          transition: all 0.2s ease-in-out;
          opacity: 0.3;
        }
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .dots-container {
    top: 2vh;
    bottom: auto;
  }
}
