.page-transition-container.animate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.page-transition-container {
  background-color: var(--black);
  z-index: 4;
  position: fixed;
  width: 100vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;

  .page-transition-svg {
    position: fixed;
    z-index: 50;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    #pattern {
      width: 100%;
      height: 100%;
      color: white;

      rect {
        width: 100%;
        height: 100%;
        fill: currentColor;
      }

      .page-transition-text-rect {
        width: 100%;
        height: 100%;
        color: #a29c9b;
        fill: currentColor;
      }
    }
    .page-transition-text {
      fill: url(#pattern);
      position: absolute;
      font-size: 2.25rem;
      line-height: 2.5rem;
      font-weight: bold;
      top: 50%;
      left: 50%;
    }
  }

  .page-transition-arrow-keys {
    position: absolute;
    font-size: 2rem;
    line-height: 1.65rem;
    font-weight: bold;
    bottom: -webkit-calc(80px + (100 - 80) var(--calc-size));
    bottom: -moz-calc(80px + (100 - 80) var(--calc-size));
    bottom: calc(80px + (100 - 80) var(--calc-size));
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.61);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;

    .page-transition-arrow-keys-title {
      font-size: 50%;
      position: relative;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      left: 50%;
    }

    .page-transition-arrow-keys-row {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 5px;

      .page-transition-arrow-key,
      .page-transition-arrow-key-up {
        border: 2px solid rgba(255, 255, 255, 0.61);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 5px;
        margin: 0 5px;
      }
      .page-transition-arrow-key-up {
        left: 50%;
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .page-transition-container .page-transition-arrow-keys {
    display: none;
  }
}
