.studio-page {
  .studio-page-text-container,
  .dot-container {
    color: var(--faded-black);
  }

  .studio-page-section {
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;

    .studio-page-content-container {
      padding-top: 15vh;
      padding-left: 5vw;
      height: 100%;
      z-index: 0;

      &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.7) 0%,
          rgba(255, 255, 255, 0.462062324929972) 100%
        );
        z-index: 1;
      }

      picture img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
      }

      .studio-page-text-container {
        height: 100%;
        text-transform: uppercase;
        z-index: 2;
        position: relative;

        & header {
          margin-bottom: calc( 0px + ( 30 - 0 ) var(--calc-size ));
          font-size: var(--h3);
          opacity: 0;
        }

        & article {
          opacity: 0;
          letter-spacing: 0.08rem;
          font-size: var(--fs-xs);
        }

        & .btn-container {
          opacity: 0;
          position: relative;
          padding-top: calc(50px + (70 - 50) var(--calc-size));
          max-width: calc(200px + (230 - 200) var(--calc-size));
          z-index: 2;

          & .studio-btn {
            position: relative;
            border: 1px solid var(--faded-black);
            font-size: var(--fs-xs);
            padding: calc( 5px + ( 10 - 5 ) var(--calc-size) );
            max-width: calc( 180px + ( 200 - 180 ) var(--calc-size));
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%),
              0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%),
              0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%),
              0 100px 80px rgb(0 0 0 / 12%);
            letter-spacing: var(--medium-spacing);
            font-family: var(--main-font);
            background: rgba(255, 255, 255, 0.3);
          }

          & .studio-btn:hover {
            background: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }

  .studio-page-section:last-of-type {
    .angle-down {
      animation-name: bounceUp;
      animation-timing-function: ease;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      transform: rotate(0deg) !important;
    }
  }

  .dot-active {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
    opacity: 0.8 !important;
    color: var(--white);
  }
}

@keyframes bounceUp {
  0% {
    transform: translateY(0) translateX(50%);
  }
  10% {
    transform: translateY(0) translateX(50%);
  }
  30% {
    transform: translateY(-20px) translateX(50%);
  }
  50% {
    transform: translateY(0) translateX(50%);
  }
  57% {
    transform: translateY(-2px) translateX(50%);
  }
  64% {
    transform: translateY(0) translateX(50%);
  }
  100% {
    transform: translateY(0) translateX(50%);
  }
}

@media only screen and ( max-width: 767px ) {
.studio-page .studio-page-section .studio-page-content-container .studio-page-text-container .btn-container {
  position: absolute;
  bottom: 0;
}
}
