.CookieConsent {
  background: rgba(0, 0, 0, 0.8) !important;
  z-index: 3 !important;
  position: fixed !important;
  bottom: 0 !important;
  max-width: 500px !important;
  left: 50% !important;
  -webkit-transform: translateX(-50%) !important;
  -moz-transform: translateX(-50%) !important;
  -ms-transform: translateX(-50%) !important;
  -o-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;
  -webkit-border-top-left-radius: 5px !important;
  -moz-border-radius-topleft: 5px !important;
  border-top-left-radius: 5px !important;
  -webkit-border-top-right-radius: 5px !important;
  -moz-border-radius-topright: 5px !important;
  border-top-right-radius: 5px !important;
  font-family: var(--main-font) !important;
  font-size: 12px !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-flow: row wrap !important;
  -moz-box-orient: horizontal !important;
  -moz-box-direction: normal !important;
  -ms-flex-flow: row wrap !important;
  flex-flow: row wrap !important;
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -moz-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
  -moz-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  line-height: 1.4;
  letter-spacing: 1.3px;

  div {
    -webkit-box-flex: 0 !important;
    -webkit-flex: 0 0 50% !important;
    -moz-box-flex: 0 !important;
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    max-width: 50%;
    margin: 0 !important;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: -webkit-calc(10px + (12 - 10) var(--calc-size));
    padding: -moz-calc(10px + (12 - 10) var(--calc-size));
    padding: calc(10px + (12 - 10) var(--calc-size));

    button {
      margin: 0 !important;
    }

    #rcc-confirm-button {
      color: var(--off-white) !important;
      font-size: 12px !important;
      background: transparent !important;
      border: 1px solid var(--off-white) !important;
      -webkit-transition: var(--std-trans);
      -o-transition: var(--std-trans);
      -moz-transition: var(--std-trans);
      transition: var(--std-trans);
      line-height: 1.4;
      letter-spacing: 1.3px;
      &:hover {
        background: var(--off-white) !important;
        color: var(--faded-black) !important;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .CookieConsent {
    width: 50% !important;
  }
}

@media only screen and (max-width: 479px) {
  .CookieConsent {
    bottom: auto !important;
    top: 0;
    left: 0 !important;
    -webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;
    -o-transform: translateX(0) !important;
    transform: translateX(0) !important;
    width: 100% !important;
    -webkit-border-top-left-radius: 0 !important;
    -moz-border-radius-topleft: 0 !important;
    border-top-left-radius: 0 !important;
    -webkit-border-top-right-radius: 0 !important;
    -moz-border-radius-topright: 0 !important;
    border-top-right-radius: 0 !important;
  }
}
