.main-page-section:first-of-type header h1:before {
  content: 'welcome to';
  font-size: var(--article);
  position: absolute;
  top: 0;
  margin-top: -14px;
  font-weight: 300;
}

.main-page-section:first-of-type header h1 {
  font-size: var(--h2);
}

.main-page-section {
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: var(--off-white);
}

.main-page-section .main-page-content-container {
  background: rgba(000, 000, 000, 0.3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
}

.main-page-section .main-page-content-container:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.262062324929972)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.262062324929972) 100%);
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.262062324929972) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.262062324929972) 100%);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.262062324929972) 100%);
  z-index: 1;
}

.main-page-section .main-page-content-container .main-page-google-maps {
  z-index: 2;
}

.main-page-section .main-page-content-container picture img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  /* -webkit-filter: blur(1px);
      filter: blur(1px); */
}

.main-page-section .main-page-content-container .main-page-text-container {
  position: relative;
  top: 30px;
  width: 55vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
}

.main-page-section .main-page-content-container .main-page-text-container .studio-single-socials {
  opacity: 0;
  position: absolute;
  right: 0;
  /* For safari
        -webkit-transform: translateX(-50%) !important;
        -moz-transform: translateX(-50%) !important;
        -ms-transform: translateX(-50%) !important;
        -o-transform: translateX(-50%) !important;
        transform: translateX(-50%) !important; 
        */
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  padding: var(--size-12) var(--size-12);
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 70%;
  font-size: var(--fs-xs);
  color: var(--off-white);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.main-page-section .main-page-content-container .main-page-text-container .studio-single-socials a {
  padding: -webkit-calc(10px + (12 - 10) var(--calc-size));
  padding: -moz-calc(10px + (12 - 10) var(--calc-size));
  padding: calc(10px + (12 - 10) var(--calc-size));
}

.main-page-section .main-page-content-container .main-page-text-container .main-page-text-container-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.main-page-section .main-page-content-container .main-page-text-container .main-page-text-container-inner header,
.main-page-section .main-page-content-container .main-page-text-container .main-page-text-container-inner header + article,
.main-page-section .main-page-content-container .main-page-text-container .main-page-text-container-inner .main-page-cta-btn {
  opacity: 0;
}

.main-page-section .main-page-content-container .main-page-text-container .main-page-text-container-inner article {
  padding-bottom: var(--size-30);
}

.main-page-section
  .main-page-content-container
  .main-page-text-container
  .main-page-text-container-inner
  article
  .main-page-text-container-paragraph {
  font-size: var(--article);
}

.main-page-section .main-page-content-container .main-page-text-container .main-page-text-container-inner .main-page-cta-btn {
  font-size: var(--article);
  padding: -webkit-calc(10px + (12 - 10) var(--calc-size)) -webkit-calc(15px + (30 - 15) var(--calc-size));
  padding: -moz-calc(10px + (12 - 10) var(--calc-size)) -moz-calc(15px + (30 - 15) var(--calc-size));
  padding: calc(10px + (12 - 10) var(--calc-size)) calc(15px + (30 - 15) var(--calc-size));
  cursor: pointer;
  top: 50px;
  letter-spacing: var(--medium-spacing);
  text-transform: uppercase;
  font-family: var(--heading-font);
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color var(--std-trans);
  -o-transition: background-color var(--std-trans);
  -moz-transition: background-color var(--std-trans);
  transition: background-color var(--std-trans);
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.main-page-section .main-page-content-container .main-page-text-container .main-page-text-container-inner .main-page-cta-btn:hover {
  background: rgba(0, 0, 0, 0.2);
}

.main-page .main-page-section:last-of-type .main-page-content-container .main-page-google-maps:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 45vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
.main-page .main-page-section:last-of-type .main-page-content-container .main-page-text-container {
  z-index: 4;
}

.main-page .main-page-section:last-of-type .main-page-content-container .main-page-text-container article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  max-width: 50vw;
}

.main-page .main-page-section:last-of-type .main-page-content-container .main-page-text-container article p:last-child {
  font-size: -webkit-calc(14px + (16 - 14) var(--calc-size));
  font-size: -moz-calc(14px + (16 - 14) var(--calc-size));
  font-size: calc(14px + (16 - 14) var(--calc-size));
  padding-top: -webkit-calc(15px + (20 - 15) var(--calc-size));
  padding-top: -moz-calc(15px + (20 - 15) var(--calc-size));
  padding-top: calc(15px + (20 - 15) var(--calc-size));
}

.main-page .main-page-section:last-of-type .main-page-content-container .main-page-text-container article .main-page-text-container-paragraph p {
  padding-bottom: 8px;
}

.main-page .main-page-section:last-of-type .main-page-content-container .angle-down {
  -webkit-animation-name: bounceUp;
  -moz-animation-name: bounceUp;
  -o-animation-name: bounceUp;
  animation-name: bounceUp;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform: rotate(0deg) translateX(-50%) !important;
  -moz-transform: rotate(0deg) translateX(-50%) !important;
  -ms-transform: rotate(0deg) translateX(-50%) !important;
  -o-transform: rotate(0deg) translateX(-50%) !important;
  transform: rotate(0deg) translateX(-50%) !important;
}

@-webkit-keyframes bounceUp {
  0% {
    -webkit-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  10% {
    -webkit-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  30% {
    -webkit-transform: translateY(-20px) translateX(50%);
    transform: translateY(-20px) translateX(50%);
  }
  50% {
    -webkit-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  57% {
    -webkit-transform: translateY(-2px) translateX(50%);
    transform: translateY(-2px) translateX(50%);
  }
  64% {
    -webkit-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  100% {
    -webkit-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
}

@-moz-keyframes bounceUp {
  0% {
    -moz-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  10% {
    -moz-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  30% {
    -moz-transform: translateY(-20px) translateX(50%);
    transform: translateY(-20px) translateX(50%);
  }
  50% {
    -moz-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  57% {
    -moz-transform: translateY(-2px) translateX(50%);
    transform: translateY(-2px) translateX(50%);
  }
  64% {
    -moz-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  100% {
    -moz-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
}

@-o-keyframes bounceUp {
  0% {
    -o-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  10% {
    -o-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  30% {
    -o-transform: translateY(-20px) translateX(50%);
    transform: translateY(-20px) translateX(50%);
  }
  50% {
    -o-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  57% {
    -o-transform: translateY(-2px) translateX(50%);
    transform: translateY(-2px) translateX(50%);
  }
  64% {
    -o-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  100% {
    -o-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
}

@keyframes bounceUp {
  0% {
    -webkit-transform: translateY(0) translateX(50%);
    -moz-transform: translateY(0) translateX(50%);
    -o-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  10% {
    -webkit-transform: translateY(0) translateX(50%);
    -moz-transform: translateY(0) translateX(50%);
    -o-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  30% {
    -webkit-transform: translateY(-20px) translateX(50%);
    -moz-transform: translateY(-20px) translateX(50%);
    -o-transform: translateY(-20px) translateX(50%);
    transform: translateY(-20px) translateX(50%);
  }
  50% {
    -webkit-transform: translateY(0) translateX(50%);
    -moz-transform: translateY(0) translateX(50%);
    -o-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  57% {
    -webkit-transform: translateY(-2px) translateX(50%);
    -moz-transform: translateY(-2px) translateX(50%);
    -o-transform: translateY(-2px) translateX(50%);
    transform: translateY(-2px) translateX(50%);
  }
  64% {
    -webkit-transform: translateY(0) translateX(50%);
    -moz-transform: translateY(0) translateX(50%);
    -o-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  100% {
    -webkit-transform: translateY(0) translateX(50%);
    -moz-transform: translateY(0) translateX(50%);
    -o-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
}

/* NavDots */

.dots-container {
  position: fixed;
  right: 0;
  bottom: 0;
  color: var(--off-white);
  padding: 20px;
  z-index: 999;
  cursor: pointer;
}

.dots-container ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.dots-container ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: -webkit-calc(14px + (16 - 14) var(--calc-size));
  font-size: -moz-calc(14px + (16 - 14) var(--calc-size));
  font-size: calc(14px + (16 - 14) var(--calc-size));
}

.dots-container ul li a {
  text-decoration: none;
  color: var(--off-white);
}

.dots-container ul li span {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: var(--size-12);
  letter-spacing: var(--medium-spacing);
  font-family: var(--alt-font);
  text-transform: uppercase;
}

.dots-container ul li:hover span {
  opacity: 1;
}

.dot-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dot-container .dot-active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0.3;
}

@media only screen and (max-width: 980px) {
  .main-page-section:last-of-type .main-page-content-container {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .main-page-section:last-of-type .main-page-content-container .main-page-text-container {
    text-align: left;
    position: static;
    padding-top: 8vh;
    padding-left: 40px;
  }

  .main-page-section:last-of-type .main-page-content-container .main-page-text-container .main-page-text-container-inner {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .main-page-section:last-of-type .main-page-content-container .main-page-text-container .studio-single-socials {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 30%;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    padding: 20px 10px;
  }

  .main-page-section:last-of-type .main-page-content-container .main-page-text-container .studio-single-socials a {
    padding-bottom: 10px;
  }

  .main-page-section:last-of-type .main-page-content-container .main-page-text-container article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .main-page-section:last-of-type .main-page-content-container .main-page-google-maps {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .main-page-section:last-of-type .main-page-content-container .main-page-google-maps:after {
    width: 100vw !important;
    left: 0;
  }

  .dots-container {
    top: 5vh;
    bottom: auto;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {
  .main-page-section
    .main-page-content-container
    .main-page-text-container
    .main-page-text-container-inner
    article
    .main-page-text-container-paragraph
    p,
  .main-page-section .main-page-content-container .main-page-text-container .main-page-text-container-inner .main-page-cta-btn {
    font-size: 10px;
  }

  .main-page-section:last-of-type .main-page-google-maps {
    left: auto;
  }

  .main-page-section:last-of-type .main-page-content-container .main-page-text-container {
    padding-left: 20px;
    width: 90vw;
    font-size: 10px;
  }

  .main-page-section:last-of-type .main-page-content-container .main-page-text-container h2 {
    font-size: var(--fs-h3);
    padding-top: 20px;
  }

  .main-page-section:last-of-type .main-page-content-container .main-page-text-container .studio-single-socials {
    font-size: 70%;
    height: auto;
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    writing-mode: horizontal-tb;
    width: 30%;
    top: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) !important;
    -moz-transform: translateX(-50%) !important;
    -ms-transform: translateX(-50%) !important;
    -o-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
    right: auto;
    padding: 5px;
  }

  .main-page-section:last-of-type .main-page-content-container .main-page-text-container .studio-single-socials p {
    padding-bottom: 0;
  }

  .main-page-section:last-of-type .main-page-content-container .main-page-text-container .studio-single-socials .line {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    height: auto;
    width: 10%;
  }

  .main-page-section:last-of-type .main-page-content-container .main-page-text-container .studio-single-socials a {
    padding: 20px 10px;
    font-size: 110%;
  }
}

@media only screen and (max-width: 475px) {
  .main-page-section .main-page-content-container .main-page-text-container {
    width: 90vw;
  }

  .main-page-section:last-of-type .main-page-content-container .main-page-text-container {
    padding-left: 20px;
    width: 82%;
    padding-top: 13vh;
  }

  .main-page-section:last-of-type .main-page-content-container .main-page-text-container .main-page-cta-btn {
    position: relative;
    left: auto;
    top: auto;
  }

  .main-page-section:last-of-type .main-page-content-container .main-page-text-container h2 {
    -webkit-writing-mode: tb;
    -ms-writing-mode: tb;
    writing-mode: tb;
    padding-bottom: 20px;
  }
  .main-page-section:last-of-type .main-page-content-container .main-page-text-container article {
    max-width: none;
  }

  .main-page-section:last-of-type .main-page-content-container .main-page-text-container .studio-single-socials {
    left: auto;
    right: 0;
    height: 40%;
  }

  .main-page-section:last-of-type .main-page-content-container .main-page-text-container .studio-single-socials a {
    padding-bottom: 10px;
  }
}
