.primary-nav-container {
  position: fixed;
  z-index: 999;
  width: 100vw;
}

.primary-nav-container .primary-nav ul {
  list-style-type: none;
}

.primary-nav-container .primary-nav ul .navbar-item {
  position: absolute;
  opacity: 0;
  top: 50vh;
  padding: 0 2%;
  z-index: 999;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.primary-nav-container .primary-nav ul .navbar-item:hover {
  background: rgba(0, 0, 0, 0.2);
}

.primary-nav-container .primary-nav ul .navbar-left-item {
  left: 0;
}

.primary-nav-container .primary-nav ul .navbar-right-item {
  right: 0;
}

.primary-nav-container .primary-nav ul li {
  display: flex;

  align-items: center;

  padding: 10px;
}

.primary-nav-container.light a {
  color: var(--off-white);
  letter-spacing: var(--medium-spacing);
  text-transform: uppercase;
  font-family: var(--heading-font);
  transition: var(--std-trans);
  font-size: calc(12px + (14 - 12) * (100vw - 320px) / 1120);
  letter-spacing: 1.4px;
}

.primary-nav-container .angle {
  transition: var(--std-trans);
}

.primary-nav-container.light .angle {
  color: var(--off-white);
  font-size: 1em;
}

.primary-nav-container.dark a {
  color: var(--faded-black);
  letter-spacing: var(--medium-spacing);
  text-transform: uppercase;
  font-family: var(--heading-font);
  transition: var(--std-trans);
  font-size: calc(12px + (14 - 12) * (100vw - 320px) / 1120);
}

.primary-nav-container.dark .angle {
  color: var(--faded-black);
  font-size: 1em;
}

/* Navbar Curtain */

.primary-nav-container-curtain {
  position: fixed;
  top: var(--size-30);
  left: var(--size-30);
  z-index: 2;
  opacity: 0;
  z-index: 999;
}

.primary-nav-container-curtain .hamburger {
  z-index: 999;
}

.primary-nav-container-curtain .hamburger,
.primary-nav-container-curtain .hamburger:before,
.primary-nav-container-curtain .hamburger:after {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 2px;
  vertical-align: middle;
  transition: background-color 0.2s ease-in-out 0.2s;
}

.primary-nav-container-curtain.dark .hamburger,
.primary-nav-container-curtain.dark .hamburger:before,
.primary-nav-container-curtain.dark .hamburger:after,
.primary-nav-container-curtain.light .hamburger-icon.open .hamburger:before,
.primary-nav-container-curtain.light .hamburger-icon.open .hamburger:after {
  background: var(--faded-black);
}

.primary-nav-container-curtain.light .hamburger,
.primary-nav-container-curtain.light .hamburger:before,
.primary-nav-container-curtain.light .hamburger:after {
  background: var(--off-white);
}

.primary-nav-container-curtain .hamburger:before,
.primary-nav-container-curtain .hamburger:after {
  content: '';
  position: absolute;
  display: block;
  transition: all 0.2s ease 0.2s;
}

.primary-nav-container-curtain .hamburger:before {
  top: -7px;
}

.primary-nav-container-curtain .hamburger:after {
  top: 7px;
}

.primary-nav-container-curtain .hamburger-icon {
  transition: background-color 0s ease 0.2s;
}

.primary-nav-container-curtain .hamburger-icon.open .hamburger {
  background: none;
  transition: background-color 0s ease 0.2s;
}

.primary-nav-container-curtain .hamburger-icon.open .hamburger:before,
.primary-nav-container-curtain .hamburger-icon.open .hamburger:after {
  top: 0;
  transition: top 0.2s ease, transform 0.2s ease 0.2s, background-color 0.2s ease;
}

.primary-nav-container-curtain .hamburger-icon.open .hamburger:before {
  transform: rotate(45deg);
}

.primary-nav-container-curtain .hamburger-icon.open .hamburger:after {
  transform: rotate(-45deg);
}

.primary-nav-container-curtain .hamburger-icon:hover {
  cursor: pointer;
}

.primary-nav-container-curtain .hamburger-icon:hover .hamburger:before {
  width: 90%;
}

.primary-nav-container-curtain .hamburger-icon:hover .hamburger:after {
  width: 70%;
}

.primary-nav-container-curtain .hamburger-icon.open:hover .hamburger:before,
.primary-nav-container-curtain .hamburger-icon.open:hover .hamburger:after {
  width: 100%;
  background: var(--faded-black-50);
}

.primary-nav-container-curtain .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: var(--off-white);
  opacity: 0.9;
  overflow-x: hidden;
  transition: 0.5s;
}

.primary-nav-container-curtain .overlay.open {
  width: 40vw;
}

.primary-nav-container-curtain .overlay.open a {
  opacity: 1;
}

.primary-nav-container-curtain .overlay-content {
  padding-top: 15%;
  padding-left: 15%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.primary-nav-container-curtain .overlay-content a {
  padding: 8px;
  text-decoration: none;
  font-size: var(--h3);
  font-family: var(--ff-base);
  color: var(--faded-black);
  font-weight: 700;
  letter-spacing: var(--medium-spacing);
  text-transform: uppercase;
  padding-bottom: var(--size-20);
  opacity: 0;
  transition: var(--std-trans);
}

.primary-nav-container-curtain .overlay-content a.active {
  text-decoration: underline;
}

.primary-nav-container-curtain .overlay-content a:hover,
.primary-nav-container-curtain .overlay-content a:focus {
  color: var(--faded-black-50);
}

/* Angles */

.angle-down-title {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
}

.angle-down.dark {
  color: var(--faded-black);
}

.angle-down {
  position: absolute;
  display: flex;
  bottom: 0;
  opacity: 0;
  justify-content: center;
  width: auto;
  left: 50%;
  transform: rotate(180deg);
  margin-bottom: 10px;
  z-index: 3;
  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: rotate(180deg) translateX(50%) translateY(0);
  }
  10% {
    transform: rotate(180deg) translateX(50%) translateY(0);
  }
  30% {
    transform: rotate(180deg) translateX(50%) translateY(20px);
  }
  50% {
    transform: rotate(180deg) translateX(50%) translateY(0);
  }
  57% {
    transform: rotate(180deg) translateX(50%) translateY(2px);
  }
  64% {
    transform: rotate(180deg) translateX(50%) translateY(0);
  }
  100% {
    transform: rotate(180deg) translateX(50%) translateY(0);
  }
}

.angle-right {
  transform: rotate(90deg);
  margin-left: 10px;
}

.angle-left {
  transform: rotate(-90deg);
  margin-right: 10px;
}

@media only screen and (max-width: 980px) {
  .primary-nav-container {
    z-index: 9999;
  }
  .primary-nav-container .primary-nav ul .navbar-item {
    /* top: 94vh; */
    top: 0;
  }

  .primary-nav-container .primary-nav ul .navbar-right-item {
    border-bottom-left-radius: 5px;
  }

  .primary-nav-container .primary-nav ul .navbar-left-item {
    border-bottom-right-radius: 5px;
  }

  .primary-nav-container .primary-nav ul .navbar-item.dark,
  .primary-nav-container .primary-nav ul .navbar-item.dark .angle {
    color: var(--faded-black);
  }

  .primary-nav-container-curtain .overlay.open {
    width: 100vw;
  }

  .primary-nav-container-curtain {
    top: 10px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .primary-nav-container-curtain.left {
    justify-content: flex-start;
    padding-left: var(--size-30);
  }
  .primary-nav-container-curtain.right {
    justify-content: flex-end;
    padding-right: var(--size-30);
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {
  .primary-nav-container .primary-nav ul .navbar-item {
    top: 87vh;
    padding: 0 40px;
  }

  .primary-nav-container-curtain {
    top: var(--size-30);
    left: var(--size-30);
    display: inline-block;
    width: auto;
  }

  .primary-nav-container-curtain .overlay-content {
    padding-top: 5%;
  }
}

@media only screen and (max-width: 767px) {
  .primary-nav-container-curtain .overlay-content {
    position: absolute;
    padding-left: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 479px) {
  .primary-nav-container .primary-nav ul .navbar-item {
    /*top: 94.6vh;*/
    padding: 0 15px;
  }

  .angle-down {
    bottom: 2vh;
  }

  .primary-nav-container-curtain .overlay-content {
    padding-top: 10%;
    padding-left: 5%;
    position: relative;
    left: 0;
    transform: none;
  }
}
