.studio-page-section {
    min-height: -webkit-fill-available;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.studio-page .studio-page-section .studio-page-content-container:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.462062324929972) 100%
  );
  z-index: -1;
}

.studio-page .studio-page-section .studio-page-content-container img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
    -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -2;
}

.studio-page .studio-page-text-container {
  text-transform: uppercase;
  max-width: 95%;
  margin: 0 auto;
}

.studio-page header {
  margin-bottom: var(--size-30);
  font-size: var(--h3);
  writing-mode: tb;
}

.studio-page .btn-container {
  padding-top: calc(50px + (70 - 50) * (100vw - 320px) / 1120);
  max-width: calc(200px + (230 - 200) * (100vw - 320px) / 1120);
}

.studio-page .btn-container .studio-btn {
  font-size: var(--fs-xs);
  padding: calc(10px + (15 - 10) * (100vw - 320px) / 1120)
    calc(15px + (30 - 15) * (100vw - 320px) / 1120);
  cursor: pointer;
  transition: background-color var(--std-trans);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%),
    0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%),
    0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
  letter-spacing: var(--medium-spacing);
  font-family: var(--main-font);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-weight: 500;
}

.studio-page .btn-container .studio-btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

.studio-page .studio-page-section:last-of-type .angle-down {
  transform: rotate(0deg);
  animation: bounceUp 2s infinite;
}

@media only screen and (max-width: 980px) and (orientation: landscape) {
    .studio-page-section {
        position: relative;
    }

    .studio-page-section h3 {
        padding-bottom: var(--size-20);
    }
    
    .studio-page-content-container {
        padding-top: var(--size-60);
        
    }

    .studio-page-text-container .studio-info {
        font-size: var(--size-12);
    }
    
    .studio-page header {
        writing-mode: unset;
        margin-bottom: 0;
    }

    .studio-page .btn-container {
        position: absolute;
        right: var(--size-20);
        bottom: var(--size-40);
    }

    .studio-page .btn-container .studio-btn {
        padding: 15px 40px;
    }
}
