.studio-page .studio-page-text-container,
.studio-page .dot-container {
  color: var(--faded-black);
}

.studio-page .studio-page-section {
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: white;
}

.studio-page .studio-page-section .studio-page-content-container {
  padding-top: 15vh;
  padding-left: 5vw;
  height: 100%;
  z-index: 0;
}

.studio-page .studio-page-section .studio-page-content-container:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.462062324929972)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.462062324929972) 100%);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.462062324929972) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.462062324929972) 100%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.462062324929972) 100%);
  z-index: 1;
}

.studio-page .studio-page-section .studio-page-content-container picture img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  /* -webkit-filter: blur(1px);
        filter: blur(1px); */
}

.studio-page .studio-page-section .studio-page-content-container .studio-page-text-container {
  height: 100%;
  text-transform: uppercase;
  z-index: 2;
  position: relative;
}

.studio-page .studio-page-section .studio-page-content-container .studio-page-text-container header {
  margin-bottom: -webkit-calc(0px + (30 - 0) var(--calc-size));
  margin-bottom: -moz-calc(0px + (30 - 0) var(--calc-size));
  margin-bottom: calc(0px + (30 - 0) var(--calc-size));
  font-size: var(--h3);
  opacity: 0;
  -webkit-writing-mode: tb;
  -ms-writing-mode: tb;
  writing-mode: tb;
}

.studio-page .studio-page-section .studio-page-content-container .studio-page-text-container article {
  opacity: 0;
  letter-spacing: 0.08rem;
  font-size: var(--fs-xs);
}

.studio-page .studio-page-section .studio-page-content-container .studio-page-text-container .btn-container {
  position: relative;
  padding-top: -webkit-calc(50px + (70 - 50) var(--calc-size));
  padding-top: -moz-calc(50px + (70 - 50) var(--calc-size));
  padding-top: calc(50px + (70 - 50) var(--calc-size));
  max-width: -webkit-calc(200px + (230 - 200) var(--calc-size));
  max-width: -moz-calc(200px + (230 - 200) var(--calc-size));
  max-width: calc(200px + (230 - 200) var(--calc-size));
  z-index: 2;
}

.studio-page .studio-page-section .studio-page-content-container .studio-page-text-container .btn-container .studio-btn {
  opacity: 0;
  position: relative;
  font-size: var(--fs-xs);
  padding: -webkit-calc(5px + (10 - 5) var(--calc-size));
  padding: -moz-calc(5px + (10 - 5) var(--calc-size));
  padding: calc(5px + (10 - 5) var(--calc-size));
  max-width: -webkit-calc(180px + (200 - 180) var(--calc-size));
  max-width: -moz-calc(180px + (200 - 180) var(--calc-size));
  max-width: calc(180px + (200 - 180) var(--calc-size));
  cursor: pointer;
  -webkit-transition: background-color var(--std-trans);
  -o-transition: background-color var(--std-trans);
  -moz-transition: background-color var(--std-trans);
  transition: background-color var(--std-trans);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%),
    0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
  -moz-box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%),
    0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
  box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%),
    0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
  letter-spacing: var(--medium-spacing);
  font-family: var(--main-font);
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.studio-page .studio-page-section .studio-page-content-container .studio-page-text-container .btn-container .studio-btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

.studio-page-section:last-of-type .angle-down {
  -webkit-animation-name: bounceUp;
  -moz-animation-name: bounceUp;
  -o-animation-name: bounceUp;
  animation-name: bounceUp;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform: rotate(0deg) !important;
  -moz-transform: rotate(0deg) !important;
  -ms-transform: rotate(0deg) !important;
  -o-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
}

.studio-page .dot-active {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0.8 !important;
  color: var(--white);
}

@-webkit-keyframes bounceUp {
  0% {
    -webkit-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  10% {
    -webkit-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  30% {
    -webkit-transform: translateY(-20px) translateX(50%);
    transform: translateY(-20px) translateX(50%);
  }
  50% {
    -webkit-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  57% {
    -webkit-transform: translateY(-2px) translateX(50%);
    transform: translateY(-2px) translateX(50%);
  }
  64% {
    -webkit-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  100% {
    -webkit-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
}

@-moz-keyframes bounceUp {
  0% {
    -moz-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  10% {
    -moz-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  30% {
    -moz-transform: translateY(-20px) translateX(50%);
    transform: translateY(-20px) translateX(50%);
  }
  50% {
    -moz-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  57% {
    -moz-transform: translateY(-2px) translateX(50%);
    transform: translateY(-2px) translateX(50%);
  }
  64% {
    -moz-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  100% {
    -moz-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
}

@-o-keyframes bounceUp {
  0% {
    -o-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  10% {
    -o-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  30% {
    -o-transform: translateY(-20px) translateX(50%);
    transform: translateY(-20px) translateX(50%);
  }
  50% {
    -o-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  57% {
    -o-transform: translateY(-2px) translateX(50%);
    transform: translateY(-2px) translateX(50%);
  }
  64% {
    -o-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  100% {
    -o-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
}

@keyframes bounceUp {
  0% {
    -webkit-transform: translateY(0) translateX(50%);
    -moz-transform: translateY(0) translateX(50%);
    -o-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  10% {
    -webkit-transform: translateY(0) translateX(50%);
    -moz-transform: translateY(0) translateX(50%);
    -o-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  30% {
    -webkit-transform: translateY(-20px) translateX(50%);
    -moz-transform: translateY(-20px) translateX(50%);
    -o-transform: translateY(-20px) translateX(50%);
    transform: translateY(-20px) translateX(50%);
  }
  50% {
    -webkit-transform: translateY(0) translateX(50%);
    -moz-transform: translateY(0) translateX(50%);
    -o-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  57% {
    -webkit-transform: translateY(-2px) translateX(50%);
    -moz-transform: translateY(-2px) translateX(50%);
    -o-transform: translateY(-2px) translateX(50%);
    transform: translateY(-2px) translateX(50%);
  }
  64% {
    -webkit-transform: translateY(0) translateX(50%);
    -moz-transform: translateY(0) translateX(50%);
    -o-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
  100% {
    -webkit-transform: translateY(0) translateX(50%);
    -moz-transform: translateY(0) translateX(50%);
    -o-transform: translateY(0) translateX(50%);
    transform: translateY(0) translateX(50%);
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {
  .studio-page .studio-page-section .studio-page-content-container .studio-page-text-container .btn-container {
    position: absolute;
    bottom: 0;
    right: 20px;
  }
}

@media only screen and (max-width: 479px) {
  .studio-page .studio-page-section .studio-page-content-container .studio-page-text-container .btn-container {
    position: absolute;
    bottom: 0;
    right: auto;
  }
}
