@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Raleway:wght@300;400;600;700&family=Roboto:wght@300;400;700&display=swap');

:root {
  /* Colors */
  --faded-black: #101010;
  --faded-black-dark: #0c0c0c;
  --faded-black-70: rgb(22, 22, 22);
  --faded-black-50: rgb(22, 22, 22, 0.5);
  --grey: #c7c7c7;
  --dark-grey: #424242;
  --off-white: #fffdf7;
  --off-white-70: rgba(255, 253, 247, 0.7);
  --black: #000;
  --white: #fff;
  --def-background: linear-gradient(90deg, rgb(29, 29, 29) 18%, rgba(0, 0, 0, 1) 100%) !important;

  /* Transitions */
  --std-trans: 0.2s ease-in-out;
  --long-trans: 0.4s ease-in-out;

  /* Typography */
  /* --calc-size: (100vw - 320px) / 1120; */
  --h2: calc(30px + (80 - 30) * (100vw - 320px) / 1120);
  --h3: calc(18px + (30 - 18) * (100vw - 320px) / 1120);
  --h4: calc(16px + (25 - 16) * (100vw - 320px) / 1120);
  --article: calc(14px + (18 - 14) * (100vw - 320px) / 1120);
  --fs-small: calc(16px + (18 - 16) * (100vw - 320px) / 1120);
  --fs-xs: calc(12px + (16 - 12) * (100vw - 320px) / 1120);
  --medium-spacing: 0.08rem;

  --main-font: 'Roboto', sans-serif;
  --alt-font: 'Montserrat', sans-serif;
  --heading-font: 'Raleway', sans-serif;

  /* Sizes */
  --size-60: calc(40px + (60 - 40) * (100vw - 320px) / 1120);
  --size-50: calc(30px + (50 - 30) * (100vw - 320px) / 1120);
  --size-40: calc(20px + (40 - 20) * (100vw - 320px) / 1120);
  --size-30: calc(20px + (30 - 20) * (100vw - 320px) / 1120);
  --size-20: calc(10px + (20 - 10) * (100vw - 320px) / 1120);
  --size-12: calc(8px + (12 - 8) * (100vw - 320px) / 1120);
  --size-10: calc(8px + (10 - 8) * (100vw - 320px) / 1120);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--black);
  font-family: var(--main-font);
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

body.fixed {
  overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: var(--medium-spacing);
  padding-bottom: var(--size-30);
}

h2 {
  padding-bottom: 10px;
  font-size: var(--h2);
}

h3 {
  font-family: var(--main-font);
  font-size: var(--h3);
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--alt-font);
  line-height: 1.4;
  letter-spacing: 1.3px;
  transition: opacity var(--std-trans);
}

a:hover:not(.main-page-cta-btn-link) {
  opacity: 0.7;
}

p {
  font-family: var(--main-font);
  line-height: 1.4;
  letter-spacing: 1.3px;
  padding-bottom: var(--size-20);
}

p:last-child {
  padding-bottom: 0;
}

#fp-nav {
    top: var(--size-60);
    right: var(--size-30);
}

#fp-nav ul li a span{
  background: var(--off-white);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
} 

#fp-nav ul li .fp-tooltip {
  color: var(--off-white);
  font-family: var(--main-font);
  font-size: calc(10px + (12 - 10) * (100vw - 320px) / 1120);
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 1.3px;
}

@media only screen and (max-width: 980px) {
  #fp-nav {
    top: 5vh;
  }
}

@-webkit-keyframes bounceUp {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  10% {
    transform: translateY(0) translateX(-50%);
  }
  30% {
    transform: translateY(-20px) translateX(-50%);
  }
  50% {
    transform: translateY(0) translateX(-50%);
  }
  57% {
    transform: translateY(-2px) translateX(-50%);
  }
  64% {
    transform: translateY(0) translateX(-50%);
  }
  100% {
    transform: translateY(0) translateX(-50%);
  }
}

@keyframes bounceUp {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  10% {
    transform: translateY(0) translateX(-50%);
  }
  30% {
    transform: translateY(-20px) translateX(-50%);
  }
  50% {
    transform: translateY(0) translateX(-50%);
  }
  57% {
    transform: translateY(-2px) translateX(-50%);
  }
  64% {
    transform: translateY(0) translateX(-50%);
  }
  100% {
    transform: translateY(0) translateX(-50%);
  }
}

