@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Raleway:wght@300;400;600;700&family=Roboto:wght@300;400;700&display=swap");

:root {
  /* Colors */
  --faded-black: #101010;
  --faded-black-dark: #0c0c0c;
  --faded-black-70: rgb(22, 22, 22);
  --faded-black-50: rgb(22, 22, 22, 0.5);
  --grey: #c7c7c7;
  --dark-grey: #424242;
  --off-white: #fffdf7;
  --off-white-70: rgba(255, 253, 247, 0.7);
  --black: #000;
  --white: #fff;
  --def-background: linear-gradient(
    90deg,
    rgb(29, 29, 29) 18%,
    rgba(0, 0, 0, 1) 100%
  ) !important;

  /* Transitions */
  --std-trans: 0.2s ease-in-out;
  --long-trans: 0.4s ease-in-out;

  /* Typography */
  /* --calc-size: (100vw - 320px) / 1120; */
  --h2: calc(30px + (80 - 30) * (100vw - 320px) / 1120);
  --h3: calc(18px + (30 - 18) * (100vw - 320px) / 1120);
  --h4: calc(16px + (25 - 16) * (100vw - 320px) / 1120);
  --article: calc(14px + (18 - 14) * (100vw - 320px) / 1120);
  --fs-small: calc(16px + (18 - 16) * (100vw - 320px) / 1120);
  --fs-xs: calc(12px + (16 - 12) * (100vw - 320px) / 1120);
  --medium-spacing: 0.08rem;

  --main-font: "Roboto", sans-serif;
  --alt-font: "Montserrat", sans-serif;
  --heading-font: "Raleway", sans-serif;

  /* Sizes */
  --size-80: calc(60px + (80 - 60) * (100vw - 320px) / 1120);
  --size-60: calc(40px + (60 - 40) * (100vw - 320px) / 1120);
  --size-50: calc(30px + (50 - 30) * (100vw - 320px) / 1120);
  --size-40: calc(20px + (40 - 20) * (100vw - 320px) / 1120);
  --size-30: calc(20px + (30 - 20) * (100vw - 320px) / 1120);
  --size-20: calc(10px + (20 - 10) * (100vw - 320px) / 1120);
  --size-12: calc(8px + (12 - 8) * (100vw - 320px) / 1120);
  --size-10: calc(8px + (10 - 8) * (100vw - 320px) / 1120);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--black);
  font-family: var(--main-font); 
}

body.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body.loading nav,
body.loading nav .hamburger,
body.loading #fp-nav {
  opacity: 0 !important;
  visibility: hidden !important;
}

body nav,
body nav .hamburger,
body #fp-nav {
  opacity: 1 !important;
  visibility: visible !important;
  transition: opacity .8s ease-in-out;
  transition-delay: 2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: var(--medium-spacing);
  padding-bottom: var(--size-30);
}

h2 {
  padding-bottom: var(--size-10);
  font-size: var(--h2);
}

h3 {
  font-family: var(--main-font);
  font-size: var(--h3);
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--alt-font);
  line-height: 1.4;
  letter-spacing: 1.3px;
  transition: opacity var(--std-trans);
}

a:hover:not(.main-page-cta-btn-link) {
  opacity: 0.7;
}

p {
  font-family: var(--main-font);
  line-height: 1.4;
  letter-spacing: 1.3px;
  padding-bottom: var(--size-20);
}

p:last-child {
  padding-bottom: 0;
}

#fp-nav {
  top: var(--size-60) !important;
  right: var(--size-30) !important;
}

#fp-nav ul li a span {
  background: var(--off-white) !important;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#fp-nav ul li .fp-tooltip {
  color: var(--off-white);
  font-family: var(--main-font);
  font-size: calc(10px + (12 - 10) * (100vw - 320px) / 1120);
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 1.3px;
}

@media only screen and (max-width: 980px) {
  #fp-nav {
    top: 66px !important;
  }
}

@media only screen and (max-width: 980px) and (orientation: landscape) {
  #fp-nav {
    top: 14vh !important;
    right: 5vw !important;
  }
}

@keyframes bounceUp {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  57% {
    transform: translateY(-2px);
  }
  64% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.main-page-section header,
.main-page-section article,
.main-page-section .main-page-cta-btn,
.main-page-section .studio-single-socials,
.studio-page header,
.studio-page article,
.studio-page .studio-btn,
.studio-sigle-main .fade,
.studio-sigle-main .studio-single-socials-container {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity .8s ease-in-out, transform .8s ease-in-out;
}

.main-page-section header.fadeIn,
.main-page-section article.fadeIn,
.main-page-section .main-page-cta-btn.fadeIn,
.main-page-section .studio-single-socials.fadeIn,
.studio-page header.fadeIn,
.studio-page article.fadeIn,
.studio-page .studio-btn.fadeIn,
.studio-sigle-main .fadeIn,
.studio-sigle-main .fade.fadeIn,
.studio-sigle-main .studio-single-socials-container.fadeIn  {
  opacity: 1;
  transform: translateY(0px);
}

.main-page-section .main-page-cta-btn.fadeIn,
.studio-page .studio-btn.fadeIn {
    transition: opacity .8s ease-in-out, transform .8s ease-in-out, background-color var(--std-trans);
}
